body{
    background-color: rgb(247, 248, 250);
}

.w{
    width: 1160px;
}
.article{
    background-color: white;
    height: 1651px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.article .bigimg{
    width: 100%;
}

.imgbox{
    width: 1200px;
    margin: auto;
    height: 340px;
    background-image: url(../img/截图-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -140px;
}
.footer{
    background-color: white;
}