body{
    background-color: rgb(247, 248, 250);
}
.article{
    background-color: white;
    height: 1651px;
    width: 100%;
    padding: 20px;
}
.article .bigimg{
    width: 100%;
}

.img-box
.footer{
    background-color: white;
}