.w {
    width: 1200px;
    margin: auto;
}

.nav-fixed {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 111px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.none-box {
    height: 111px;
}

.nav-fixed .black-nav {
    top: 0;
    width: 100%;
    height: 32px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.nav-fixed .black-nav .right .paopao {
    position: relative;
    top: 7px;
    width: 30px;
    height: 20px;
    background-color: rgb(173, 15, 15);
    border-radius: 5px;
}

.nav-fixed .black-nav .right .paopao p{
    color:white
}

.nav-fixed .black-nav .right :nth-child(1) {
    margin-left: 1px;
}

.nav-fixed .black-nav .right :nth-child(4) {
    margin-left: 1px;
}

.nav-fixed .black-nav .right :nth-child(3) {
    margin-left: 10px;
}

.nav-fixed .black-nav .right .paopao p {
    position: absolute;
    top: -6px;
    left: 10px;
}

.nav-fixed .black-nav .right .paopao .jianjian {
    position: absolute;
    left: -9px;
    position: absolute;
    top: 5px;
    right: 40px;
    width: 0px;
    height: 0ppx;
    border: 5px;
    border-right: 5px solid rgb(173, 15, 15);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);

}

.nav-fixed .black-nav .left {
    margin-left: 10px;
}

.nav-fixed .black-nav .left {
    padding-inline-start: 5;
    line-height: 32px;
    display: inline-block;
}

.nav-fixed .black-nav .right {
    float: right;
}

.nav-fixed .black-nav .right li {
    float: right;
    line-height: 32px;
    margin-left: 20px;
}

.nav-fixed .black-nav .right li a {
    color: rgb(255, 255, 255);
}

.nav-fixed .white-nav {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 78px;
    display: flex;
    align-content: center;
    box-sizing: border-box;
    align-items: center;
}

.nav-fixed .white-nav .nav-top li {
    position: relative;
    z-index: 999;
}

.nav-fixed .white-nav .nav-top li .nav li:hover {
    border-bottom: none;
    background-color: rgb(235, 235, 235);
}

/* 隐藏子菜单 */
.nav-fixed .white-nav .nav-top li .nav {
    height: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 78px;
    left: 0px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 1px 7px rgba(117, 105, 0, 0.3);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.nav-fixed .white-nav .nav-top li .nav li a {
    font-size: 13px;
}

.nav-fixed .white-nav .nav-top li .nav-big li:hover {
    width: 100%;
}

.nav-fixed .white-nav .nav-top li .nav-mid li:hover {
    width: 100%;
}

/* 显示子菜单 */
.nav-fixed .white-nav .nav-top li:hover .nav {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.nav-fixed .white-nav .nav-top li:hover .nav-big {
    width: 150px;
}

.nav-fixed .white-nav .nav-top li:hover .nav-mid {
    width: 120px;
}

.nav-fixed .white-nav ul li .nav li {
    display: flex;
    align-items: center;
    width: 77%;
    padding: 8px 10px;
    float: left;
    height: 20px;
}

.nav-fixed .white-nav ul li .nav :first-child {
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav-fixed .white-nav .nav-top li a {
    color: black;
}

.nav-fixed .white-nav .logo-box {
    margin: auto;
    height: 78px;
    width: 127px;
}


.nav-fixed .white-nav .logo-box img {
    margin-top: 26px;
}

.nav-fixed .white-nav .mulu-list {
    display: flex;
    height: 78px;
    width: 815px;
    margin-left: 38px;
}

.nav-fixed .white-nav .nav-top {
    margin-left: 38px;
    display: flex;
    height: 78px;
    width: 815px;
}

.nav-fixed .white-nav .nav-top li {
    padding: 16px 12px 10px;
    display: flex;
    float: left;
    flex-direction: row;
}

.nav-fixed .white-nav .nav-top li:hover {
    border-bottom: 2px solid rgb(107, 0, 0);
}

.nav-fixed .white-nav .nav-top li a {
    display: flex;
    font-size: 18px;
    align-items: center;
    flex-grow: 1;
}

.nav-fixed .white-nav .nav-top span {
    padding-left: 10px;
    line-height: 52px;
    color: rosybrown;
    display: flex;
}

input {
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

/* 清除默认的搜索按钮样式chrome和firefox */

.nav-fixed .white-nav input {
    padding: 5px;
    padding-right: 25px;
    margin: auto;
    height: 34px;
    width: 200px;
}

.search-box {
    position: relative;
}

.nav-fixed .white-nav .soso {
    position: absolute;
    left: 180px;
    top: 5px;
}

.lun-box {
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url(../img/ANR0xr-9MxdzoMA3hz4XdR2Lx04.jpg);
    overflow: hidden;
}

.content {
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 100%;
}

.content .lun-nav {
    background-color: rgba(51, 51, 51, 0.438);
    backdrop-filter: blur(10px) brightness(1.1);
    height: 100px;
}

.content .w li {
    float: left;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
}

.content .w li:hover {
    background-color: rgb(65, 63, 63);
}

.content .w li a {
    color: white;
}

.content .w li a h3 {
    font-size: 18px;
    margin-bottom: 10px;
}


.content .w li a p {
    font-size: 14px;
}

.box-list .icon {
    height: 180px;
    width: 230px;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
}

.backgrand {
    width: 100%px;
    height: 250px;
    background-color: rgb(247, 248, 250);
}

.box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.backgrand {
    padding-top: 50px;
}


.box-list .icon img {
    position: relative;
    left: 70px;
    top: 10px;
}

.box-list .icon h1 {
    position: relative;
    left: 0px;
    top: 10px;
    font-size: 20px;
    font-weight: 700;

}

.box-list .icon a {
    position: relative;
    left: 85px;
    top: 10px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}


.lun-box {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.slides input[type="radio"] {
    display: none;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slide1:checked~.slide1,
#slide2:checked~.slide2,
#slide3:checked~.slide3 {
    opacity: 1;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.slides .left {
    position: absolute;
    left: 10px;
    height: 50px;
    width: 30px;
    top: 200px;
    color: rgb(114, 113, 113);
    line-height: 50px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.slides .right {
    font-size: 10px;
    position: absolute;
    right: 10px;
    height: 50px;
    width: 30px;
    top: 200px;
    color: rgb(51, 51, 51);
    line-height: 50px;
    text-align: right;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.slides:hover .left,
.slides:hover .right {
    opacity: 1;
    visibility: visible;
}

.show-box {
    width: 100%;
    height: 225px;
    background-color: rgb(255, 255, 255);
}

.show-list .icon {
    width: 280px;
    height: 168px;
}

.show-list .icon img {
    position: relative;
    left: 104px;
    top: 40px;
}

.show-list .icon h2 {
    text-align: center;
    margin-top: 50px;
    top: 50px;
    font-size: 28px;
    font-weight: 900;
}

.show-list .icon p {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    color: rgb(102, 102, 102);
}

.show-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.video-box {
    height: 478px;
    width: 100%;
    background-color: rgb(rgb(255, 253, 253); );
}

.video-box .w {
    position: relative;
}

.video-box h1 {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 50px 0;
    width: 100%;
    font-size: 28px;
    padding-top: 20px;
}

.video-box .left {
    width: 550px;
    height: 341px;
    position: relative;
    top: 30px;
}

.video-box .left h3 {
    position: absolute;
    left: 60px;
    top: 2px;
    font-size: 18px;
    color: black;
}

.video-box .left p {
    position: absolute;
    left: 0px;
    top: 70px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}

.video-box .left a {
    background-color: rgb(199, 0, 11);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 90px;
    top: 150px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.video-box .left .more {
    left: 0px;
}

.video-box .right {
    position: absolute;
    width: 600px;
    top: 90px;
    right: 0px;
}

.youdian {
    width: 100%;
    height: 395px;
    background-color: rgb(255, 255, 255);
}

.w h1 {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 0px 0;
    width: 100%;
    font-size: 28px;
    padding-top: 20px;
}

.youdian .you-item-list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.youdian .you-item-list .you-icon {
    height: 300px;
    width: 234px;
}

.youdian .you-item-list .you-icon img {
    position: relative;
    left: 84px;
    top: 10px;
}

.youdian .you-item-list .you-icon h2 {
    text-align: center;
    margin-top: 30px;
    top: 50px;
    font-size: 20px;
    font-weight: 700;
}

.youdian .you-item-list .you-icon p {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    color: rgb(102, 102, 102);
}

.spport {
    width: 100%;
    height: 407px;
    background-color: rgb(247, 248, 250);
}

.spport .icon-list3 {
    margin-top: 50px;
}

.spport .icon {
    width: 300px;
    height: 205px;
}

.icon-list3 {
    display: flex;
    justify-content: space-between;
}

.spport .icon-list3 .box {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    background: linear-gradient(45deg, #a50000, #ff8f8fab);
    margin: auto;
}

.spport .icon-list3 .box span {
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    margin-left: 15px;
}

.spport .icon-list3 h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.spport .icon-list3 p {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.spport .more {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 4px;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #707070;
    font-size: 18px;
}

.examble .toplist {
    position: relative;
}

.examble .toplist p {
    text-align: center;
    margin-bottom: 70px;
    font-size: 14px;
}

.examble .toplist a {
    font-size: 20px;
    color: rgb(199, 0, 11);
    position: absolute;
    bottom: -55px;
    right: 0px;
}

.hengang {
    margin: auto;
    margin-bottom: 10px;
    width: 35px;
    height: 1PX;
    border-bottom: 3px solid rgb(131, 0, 0);
}

.spport .more:hover {
    background-color: rgb(184, 39, 40);
    color: white;
}


.examble h1 {
    margin-top: 20px;
    height: 50px;
}

.examble .card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.examble .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 491px;
    width: 403px;
}

.examble .left-1 {
    width: 776px;
    height: 491px;
    background-color: rgb(51, 51, 51);
}


.examble .right-1 {
    width: 403px;
    height: 235px;
    background-color: rgb(159, 113, 113);
}

.examble .right-2 {
    width: 403px;
    height: 236px;
    background-color: rgb(99, 30, 30);
}

.examble .card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.516);
    background-color: rgba(0, 0, 0, 0.397);
}



.examble .card-list .card img {
    position: absolute;
    width: 100%;
}

.examble .card-list .card .card-text {
    bottom: 20px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    color: rgb(255, 253, 253);
    height: 60px;
    line-height: 60px;
}


.examble .card-list .card .card-text p {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    top: 20px;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.examble .card-list .card .card-text span {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    z-index: 99;
    bottom: -36px;
    margin-left: 20px;
}

.examble .card-list .card {
    position: relative;
    overflow: hidden;
}

.examble .card-list .card img {
    width: 100%;
    position: absolute;
    z-index: 0;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    left: 0;
}

.examble .card-list .left-1 img {
    position: absolute;
    top: -20px;
}

.examble .card-list .right-1 img {
    position: absolute;
    top: -90px;
}

.zhezhao {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 16, 16, 0.142);
}

.examble .card-list .card:hover img {
    transform: scale(1.1);
    /* 靠近卡片进行放大 */
}


.examble .card-list .card .card-text p {
    position: relative;
    margin-left: 20px;
    top: 10px;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.examble .card-list .card .card-text span {
    display: block;
    /* 让 span 在新行显示 */
    transform: translateY(20px);
    /* 初始位置向下偏移以隐藏 */
    opacity: 0;
    /* 初始隐藏 */
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.examble .card-list .card:hover .card-text p {
    transform: translateY(-20px);
    /* 上移 p 标签 */
}

.examble .card-list .card:hover .card-text span {
    transform: translateY(-20px);
    /* 上移 span 标签，向上展示 */
    opacity: 1;
    /* 显示 span */
}


.examble .card-list .right p {
    width: 370px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hengang2 {
    margin: 40px auto;
    width: 65px;
    height: 1PX;
    border-bottom: 3px solid rgb(131, 0, 0);
}

.card-list-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
}

.examble .last-1 {
    width: 585px;
    height: 335px;
    background-color: rgb(51, 51, 51);
}

.examble .last-2 {
    width: 585px;
    height: 335px;
    background-color: rgb(51, 51, 51);
}

.examble .card-fix {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.516);
    background-color: rgba(0, 0, 0, 0.397);
}


.examble .card-list .card-fix:hover img {
    transform: scale(1.1);
    /* 靠近卡片进行放大 */
}


.examble .card-list .card-fix :hover .card-text p {
    transform: translateY(0px);
}

.examble .card-list .last-1 img {
    position: absolute;
    width: 110%;
    width: 110%;
    top: 0px;
}

.examble .card-list .last-2 img {
    position: absolute;
    width: 110%;
    width: 110%;
    top: 0px;
}

.joinus {
    width: 100%;
    height: 373px;
    background-color: rgb(247, 248, 250);
}

.joinus .top {
    padding-top: 40px;
    height: 37px;
    line-height: 37px;
    margin: 0px 0px 48px;
}

.joinus .boxs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.joinus .join-box {
    position: relative;
    height: 173px;
    width: 393px;
    border: 1px solid #ccc;
}

.joinus .join-box h1 {
    margin-left: 20px;
    text-align: left;
    font-size: 26px;
    color: #858585;
}


.joinus .join-box p {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.joinus .join-box a {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 14px;

}

.joinus .join-box a span {
    margin-left: 10px;
    font-size: 20px;
}

.footer {
    width: 100%;
}

.footer .footer-top {
    height: 205px;
    width: 100%;
    margin: 0px, 195px;
    padding: 40px 0px;
    background-color: rgb(255, 255, 255);
}

.footer .footer-top {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 0;

}

.footer .footer-top li {
    width: 285px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.footer .footer-top li h2,
li {
    color: black;
}

.footer .footer-top .footer-right a {
    font-size: 25px;
}

.footer .footer-bottom {
    width: 100%;
    height: 39px;
    background-color: rgb(247, 248, 250);
    overflow: hidden;
    line-height: 39px;
}

.footer .footer-bottom .left {
    float: left;
    font-size: 14px;
}

.footer .footer-bottom .left a {
    text-decoration: underline;
    color: rgb(199, 0, 11);
}
.footer .footer-bottom .right {
    float: right;
}

.footer .footer-bottom .right li {
    float: left;
}

.footer .footer-bottom .right li a {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(205, 11, 11);
}

.fix-box-lianxi{
    position: fixed;
    bottom: 150px;
    right: 10px;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #c90000;
    z-index: 9999;
    font-size: 16px;
    color: white;
}

.fix-box-lianxi:hover{
    color: white;
}