@font-face {
  font-family: "iconfont"; /* Project id 4741111 */
  src: url('iconfont.woff2?t=1731252488360') format('woff2'),
       url('iconfont.woff?t=1731252488360') format('woff'),
       url('iconfont.ttf?t=1731252488360') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-left:before {
  content: "\e628";
}

.icon-right:before {
  content: "\e642";
}

.icon-diqiuquanqiu:before {
  content: "\e76c";
}

.icon-yonghu:before {
  content: "\e649";
}

.icon-xiaolaba:before {
  content: "\e64c";
}

.icon-lingdang:before {
  content: "\e8c0";
}

.icon-roundArrRight-stroke:before {
  content: "\e601";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-weibo:before {
  content: "\e618";
}

.icon-pdf:before {
  content: "\e620";
}

.icon-sousuo:before {
  content: "\e6a8";
}

.icon-sanheng:before {
  content: "\e60d";
}

.icon-jiantouxia:before {
  content: "\e61a";
}

.icon-ins:before {
  content: "\e664";
}

.icon-CZ_001:before {
  content: "\e602";
}

.icon-CZ_003:before {
  content: "\e603";
}

.icon-meta-line:before {
  content: "\eac0";
}

.icon-tuite:before {
  content: "\e6aa";
}

.icon-diqiu:before {
  content: "\e7b1";
}

.icon-yanjingguanbi:before {
  content: "\e685";
}

